.cake {
  background-color: rgb(150, 168, 228);
}
.cake__list {
  display: flex;
}
.cake {
  padding: 30px 0;
  margin: -15px;
}

.cake__item {
  padding: 20px;
  margin: 15px;
  width: 150px;
  height: 200px;
  border: tomato solid 2px;
  border-radius: 20%;
}
