:root {
  --brand-color: #ffb8ca;
  --light-brand-color: #fff5f6;
  --dark-brand-color: #ffa5ba;
  --accent-color: #d41443;

  --main-white: #fff;
  --main-black: #000;

  --coffee: #f0d1a5;
  --light-green: #c2e297;

  --secondary-text-color: #907e82;
}
