<section class="juice section">
  <ul class="juice__list">
    <li class="juice__item">
      <article></article>
      <div class="thumb"><img src="#" alt="" /></div>
    </li>
    <li class="juice__item">
      <article></article>
      <div class="thumb"><img src="#" alt="" /></div>
    </li>
    <li class="juice__item">
      <article></article>
      <div class="thumb"><img src="#" alt="" /></div>
    </li>
    <li class="juice__item">
      <article></article>
      <div class="thumb"><img src="#" alt="" /></div>
    </li>
    <li class="juice__item">
      <article></article>
      <div class="thumb"><img src="#" alt="" /></div>
    </li>
    <li class="juice__item">
      <article></article>
      <div class="thumb"><img src="#" alt="" /></div>
    </li>
    <li class="juice__item">
      <article></article>
      <div class="thumb"><img src="#" alt="" /></div>
    </li>
    <li class="juice__item">
      <article></article>
      <div class="thumb"><img src="#" alt="" /></div>
    </li>
  </ul>
</section>
