<section class="cake section">
  <ul class="cake__list">
    <li class="cake__item">
      <article></article>
      <div class="thumb">П<img src="#" alt="" /></div>
    </li>
    <li class="cake__item">
      <article></article>
      <div class="thumb">И<img src="#" alt="" /></div>
    </li>
    <li class="cake__item">
      <article></article>
      <div class="thumb">Р<img src="#" alt="" /></div>
    </li>
    <li class="cake__item">
      <article></article>
      <div class="thumb">О<img src="#" alt="" /></div>
    </li>
    <li class="cake__item">
      <article></article>
      <div class="thumb">Г<img src="#" alt="" /></div>
    </li>
    <li class="cake__item">
      <article></article>
      <div class="thumb">!!<img src="#" alt="" /></div>
    </li>
  </ul>
</section>
